<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Frugal Bin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="frugalBin.css">
</head>
<body data-ng-init="names=['abc','def']">
  <div ng-include="'common/headers'"></div>
  <input ng-model="name" type="text" placeholder="Your name">
  <h1>Hello {{ name }}</h1>
  
  <ul >
	<li data-ng-repeat="named in names">{{ named }}</li>
  </ul>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../lib/js/angularJS/angular.min.js"></script>
  <script src="../lib/js/angularJS/angular-route.min.js"></script>
  <script src="frugalBin.js"></script>
<!--  
  <script
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js">
  </script>-->
</body>
</html>
